Keen Vent flow
[{"id":"7026f62e.872c18","type":"subflow","name":"Build Array","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"b5520e91.8e272"}]}],"out":[{"x":400,"y":100,"wires":[{"id":"b5520e91.8e272","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b5520e91.8e272","type":"function","z":"7026f62e.872c18","name":"BUILD ARRAY","func":"var one = msg.payload[\"1\"];\nvar two = msg.payload[\"2\"];\nvar three = msg.payload[\"3\"];\nvar four = msg.payload[\"4\"];\nvar five = msg.payload[\"5\"];\nvar six = msg.payload[\"6\"];\nvar seven = msg.payload[\"7\"];\nvar eight = msg.payload[\"8\"];\nvar nine = msg.payload[\"9\"];\nvar ten = msg.payload[\"10\"];\nvar eleven = msg.payload[\"11\"];\nvar twelve = msg.payload[\"12\"];\nvar thirteen = msg.payload[\"13\"];\n\nmsg.payload = [one,two,three,four,five,six,seven,eight,nine,ten,eleven,twelve,thirteen];\n\nreturn msg;\n\n//Array is buit based on order of sensors","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[[]]},{"id":"9e7f49bf761cb2fb","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"fa81aba03436e248","type":"api-current-state","z":"9e7f49bf761cb2fb","name":"Guest Temp","server":"b737e0d0.31309","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.guest_sensor_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":650,"y":380,"wires":[["e9927bd616571113","b2aa056761093169","57cdd1bdad7037b5","fc10571e299a8ce1","7f396c8003e75d40"]]},{"id":"b2aa056761093169","type":"api-render-template","z":"9e7f49bf761cb2fb","name":"Guest Cool Temp","server":"b737e0d0.31309","template":"{{ state_attr(\"climate.guest_vt_cool\", \"temperature\") }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":910,"y":320,"wires":[["71077ef9605fe2ec"]]},{"id":"682869e614e0b6e2","type":"api-call-service","z":"9e7f49bf761cb2fb","name":"Adjust Guest Vent","server":"b737e0d0.31309","version":1,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.guest_vent_level","data":"{\"position\": {{payload}} }","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":2500,"y":340,"wires":[["01bd97f6a0bae98b"]]},{"id":"fc10571e299a8ce1","type":"api-render-template","z":"9e7f49bf761cb2fb","name":"Current Guest Positon","server":"b737e0d0.31309","template":"{{ state_attr(\"cover.guest_vent_level\",\"current_position\") }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":920,"y":440,"wires":[["42eb4ab937dbd64d"]]},{"id":"e9927bd616571113","type":"smooth","z":"9e7f49bf761cb2fb","name":"","property":"payload","action":"mean","count":"3","round":"","mult":"single","reduce":false,"x":880,"y":280,"wires":[["b226c8685ba981ae"]]},{"id":"7f396c8003e75d40","type":"api-current-state","z":"9e7f49bf761cb2fb","name":"Thermostat Mode","server":"b737e0d0.31309","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.thermostat_mode","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":500,"wires":[["dbd5c824a176236a"]]},{"id":"57cdd1bdad7037b5","type":"api-render-template","z":"9e7f49bf761cb2fb","name":"Guest Heat Temp","server":"b737e0d0.31309","template":"{{ state_attr(\"climate.guest_vt_heat\", \"temperature\") }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":910,"y":380,"wires":[["4f985283e0f4453c"]]},{"id":"ba5fe66f63e5b0e9","type":"switch","z":"9e7f49bf761cb2fb","name":"Error Filter","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2130,"y":340,"wires":[["682869e614e0b6e2","095ca21ab94d6502","b4f28ea811cd7be0"]]},{"id":"b226c8685ba981ae","type":"change","z":"9e7f49bf761cb2fb","name":"set topic 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":280,"wires":[["57044ad8529f099a"]]},{"id":"71077ef9605fe2ec","type":"change","z":"9e7f49bf761cb2fb","name":"set topic 2","rules":[{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":320,"wires":[["57044ad8529f099a"]]},{"id":"4f985283e0f4453c","type":"change","z":"9e7f49bf761cb2fb","name":"set topic 3","rules":[{"t":"set","p":"topic","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":380,"wires":[["57044ad8529f099a"]]},{"id":"6962c444a3474db7","type":"change","z":"9e7f49bf761cb2fb","name":"set topic 4","rules":[{"t":"set","p":"topic","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":440,"wires":[["57044ad8529f099a"]]},{"id":"dbd5c824a176236a","type":"change","z":"9e7f49bf761cb2fb","name":"set topic 5","rules":[{"t":"set","p":"topic","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":500,"wires":[["57044ad8529f099a"]]},{"id":"57044ad8529f099a","type":"join","z":"9e7f49bf761cb2fb","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1650,"y":280,"wires":[["1f56261502b2032f"]]},{"id":"1f56261502b2032f","type":"subflow:7026f62e.872c18","z":"9e7f49bf761cb2fb","name":"","x":1680,"y":340,"wires":[["4f86394e9d463f5b"]]},{"id":"6e208c5d76c8e9dc","type":"function","z":"9e7f49bf761cb2fb","name":"Payload = 0%","func":"newmsg = {};\n    newmsg.payload = 0\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":460,"wires":[["6962c444a3474db7"]]},{"id":"42eb4ab937dbd64d","type":"switch","z":"9e7f49bf761cb2fb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":440,"wires":[["6962c444a3474db7"],["6e208c5d76c8e9dc"]]},{"id":"47ad671574e87c37","type":"api-call-service","z":"9e7f49bf761cb2fb","name":"Counter","server":"b737e0d0.31309","version":1,"debugenabled":false,"service_domain":"input_number","service":"increment","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":3150,"y":340,"wires":[[]]},{"id":"a367aac226df665c","type":"function","z":"9e7f49bf761cb2fb","name":"Guest Counter","func":"newmsg = {};\n    newmsg.payload = { \"data\": {\"entity_id\":\"input_number.guest_vent_count\",\"value\": msg.count } };\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2950,"y":340,"wires":[["47ad671574e87c37"]]},{"id":"01bd97f6a0bae98b","type":"api-current-state","z":"9e7f49bf761cb2fb","name":"Guest Count","server":"b737e0d0.31309","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.guest_vent_count","state_type":"num","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2740,"y":340,"wires":[["a367aac226df665c"]]},{"id":"095ca21ab94d6502","type":"delay","z":"9e7f49bf761cb2fb","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":2310,"y":400,"wires":[["6d8efb9761ba604d"]]},{"id":"6d8efb9761ba604d","type":"api-render-template","z":"9e7f49bf761cb2fb","name":"Current Guest Positon","server":"b737e0d0.31309","template":"{{ state_attr(\"cover.guest_vent_level\",\"current_position\") }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":2510,"y":400,"wires":[["6586fe832d89bd73"]]},{"id":"66677a27bf92c2ab","type":"link in","z":"9e7f49bf761cb2fb","name":"Guest Vent In","links":["117a34e4ad35b838","9f2f97fc.fd3a18","6671cf67c68c76d6"],"x":495,"y":320,"wires":[["fa81aba03436e248"]]},{"id":"b4f28ea811cd7be0","type":"join","z":"9e7f49bf761cb2fb","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3020,"y":400,"wires":[["e90d5a37e553e11e"]]},{"id":"e90d5a37e553e11e","type":"function","z":"9e7f49bf761cb2fb","name":"Position Check","func":"newmsg = {};\n\nif (msg.payload[0] !== msg.payload[1]) {\n    newmsg.payload = msg.payload[0]\n} \n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3190,"y":400,"wires":[["1a9fcbafdef0a13d"]]},{"id":"1a9fcbafdef0a13d","type":"switch","z":"9e7f49bf761cb2fb","name":"Error filter","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3370,"y":400,"wires":[["117a34e4ad35b838"]]},{"id":"117a34e4ad35b838","type":"link out","z":"9e7f49bf761cb2fb","name":"Guest Vent Out","links":["66677a27bf92c2ab"],"x":3475,"y":400,"wires":[]},{"id":"1387f53c6e1f040b","type":"function","z":"9e7f49bf761cb2fb","name":"Payload = 0%","func":"newmsg = {};\n    newmsg.payload = 0\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2850,"y":420,"wires":[["b4f28ea811cd7be0"]]},{"id":"6586fe832d89bd73","type":"switch","z":"9e7f49bf761cb2fb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2690,"y":400,"wires":[["b4f28ea811cd7be0"],["1387f53c6e1f040b"]]},{"id":"7201224b08b46b55","type":"inject","z":"9e7f49bf761cb2fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":380,"wires":[["fa81aba03436e248"]]},{"id":"4f86394e9d463f5b","type":"function","z":"9e7f49bf761cb2fb","name":"Test Position - 0, 50, 100","func":"newmsg = {};\nc = {};\n\nif (msg.payload[4] == \"cool\") {\nif (msg.payload[1] - msg.payload[0] >= 1) {\n    c.payload = 0\n} \nelse if ( msg.payload[0] - msg.payload[1] <= 0) {\n    c.payload = 50\n}\nelse {\n    c.payload = 100\n}\n}\nelse if (msg.payload[4] == \"heat\") {\nif (msg.payload[0] - msg.payload[2] >= 1) {\n    c.payload = 0\n} \nelse if (msg.payload[2] - msg.payload[0] <= 0) {\n    c.payload = 50\n}\nelse {\n    c.payload = 100\n}\n\n}\nif (c.payload !== msg.payload[3]) {\n    newmsg.payload = c.payload\n} \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":340,"wires":[["ba5fe66f63e5b0e9"]]},{"id":"a396b97014e8425b","type":"server-state-changed","z":"9e7f49bf761cb2fb","name":"Guest Temp","server":"b737e0d0.31309","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.guest_sensor_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":650,"y":280,"wires":[["e9927bd616571113","b2aa056761093169","57cdd1bdad7037b5","fc10571e299a8ce1","7f396c8003e75d40"]]},{"id":"b737e0d0.31309","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
